<h1>Hello {{name}}, here is your To-Do List!</h1>
<h2>You have {{toDoCount}} items on your to-do list.</h2>
<form method="post">
  Item Name
  <input type="text" name="name" id="toDoName"><p>
  ZIP code where item will occur
  <input type="text" name="zip" id="zip"><b>
  Minimum Temp
  <input type="text" name="temp" id="temp"><p>
  <input type="submit" name="Add Item" value="Add Item">
</form>

{{#if toDo}}
<ul>
  {{#each toDo}}
  <li>
    <h3>{{this.name}}</h3><br>
    <h4>Minimum Temp Needed: {{this.mintemp}}</h4><br>
    <h4>Current temp in {{this.city}}: {{this.cityTemp}}</h4><br>
    <form method="post">
      <input type="hidden" name="id" value="{{this.id}}">
      <input type="submit" name="Done" value="Mark as Done">
    </form>
  </li>
  {{/each}}
</ul>
{{/if}}
